.product-search__container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 2px;
  background: #131313;
  max-width: 400px;
}

.product-search__container img {
  max-width: 100px;
  margin: 0;
}

.product-search__container .product__infos {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  margin-left: 10px;
}
.product-search__container .product__infos strong {
  font-weight: 500;
  font-size: 14px;
}