.item {
  max-width: 320px;
  margin-bottom: 20px;
  cursor: pointer;
  border: solid 2px transparent;
  border-radius: 16px;
  transition: 0.8s;
}

.item:hover {
  border: solid 2px orangered;
}

.item__box-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__image {
  width: 100%;
  height: auto;
  transition: all 0.8s;
  border-radius: 16px 16px 0 0;
  border-radius: 16px;
  transition: 0.8s;
}

.item__btn-see {
  display: none;
  position: absolute;
  padding: 15px 40px;
  background: transparent;
  color: #fff;
  border: 1px solid orangered;
  border-radius: 16px 0 16px 0;
}

.item__box-image:hover .item__image {
  opacity: 0.2;
}

.item__box-image:hover .item__btn-see {
  display: block;
  color: orangered;
}

.item__sale {
  padding: 2px 8px;
  color: #fff;
  background: rgb(255, 94, 20);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 16px 0 16px 0;
  font-weight: bold;
  border-bottom: 2px solid #777;
}

.item__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 88px;
  transition: 0.8s;

  border-radius: 0 0 16px 16px;
}

.item__name {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0;
  margin-top: 16px;
  font-family: "Bellota", cursive;
  font-weight: bold;
}

.item__price--sale {
  font-size: 14px;
  text-decoration: line-through;
  color: rgb(255, 94, 20);
  /* margin-bottom: 8px; */
}

.item__price {
  font-size: 15px;
  font-weight: 400;
}

.item__price:hover {
  font-weight: bold;
}
