@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000000; 
}

::-webkit-scrollbar-thumb {
  background: #1a1919;
}

::-webkit-scrollbar-thumb:hover {
  background: #292828;
}

body {
  margin: 0;
  padding: 0;
  outline: 0;
  background: #131313;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button, input {
  outline: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

button {
  border: 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

a {
  color: #FFF;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}